JONNY_DEVICE_PRIVATE_KEY_PEM=
JONNY_DEVICE_ID=e78c8cdf81b599cfc1a7488154536074ffd8aafcfebc8b519a9aa84839bd392e
DAVID_DEVICE_PRIVATE_KEY_PEM=
VELIA_DEVICE_PRIVATE_KEY_PEM=
LDI_ORACLE_URL=https://www.londonagentic.ai
WALLET_PEMS_JSON=
DATABASE_URL=
JONNY_XAI_API_KEY=
JONNY_XAI_MODEL=grok-4
